h1{
 font-family: Georgia, 'Times New Roman', Times, serif ;
 color: white;
 background-color: lightpink;
 background-image: linear-gradient(lightpink,hsl(261, 53%, 79%));
 font-size: 22px;
}

#myImage{
  height: 200px;
}

body{
  background-color: lightcyan;
}

.myImage1{
  height: 200px;
  margin-left: 20px;
}

.body{
  text-align: center;
}

.header{
  font-size: 20px;
  text-align: center;
}

p{
  font-size: 22px;
}

.bullets{
  font-size: 22px;
}

.logo{
  text-align: center;
}